Source/Web References/RKIService/RKI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateDevice">
        <s:complexType />
      </s:element>
      <s:element name="ValidateDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader" />
      <s:complexType name="SecuredWebServiceHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="PEDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_encryptioncert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_signingCert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_RG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_RF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_DG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PEDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PEDIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PEDK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_KN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_KA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_RD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_AP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_CE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_FC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PEDKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PEDKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PEDV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_KV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_KA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_RD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_AP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_CE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_FC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PEDVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PEDVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_files" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeviceGroupListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateDevice" />
  </wsdl:message>
  <wsdl:message name="ValidateDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateDeviceSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="PEDISoapIn">
    <wsdl:part name="parameters" element="tns:PEDI" />
  </wsdl:message>
  <wsdl:message name="PEDISoapOut">
    <wsdl:part name="parameters" element="tns:PEDIResponse" />
  </wsdl:message>
  <wsdl:message name="PEDISecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="PEDKSoapIn">
    <wsdl:part name="parameters" element="tns:PEDK" />
  </wsdl:message>
  <wsdl:message name="PEDKSoapOut">
    <wsdl:part name="parameters" element="tns:PEDKResponse" />
  </wsdl:message>
  <wsdl:message name="PEDKSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="PEDVSoapIn">
    <wsdl:part name="parameters" element="tns:PEDV" />
  </wsdl:message>
  <wsdl:message name="PEDVSoapOut">
    <wsdl:part name="parameters" element="tns:PEDVResponse" />
  </wsdl:message>
  <wsdl:message name="PEDVSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="DeviceGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceGroupList" />
  </wsdl:message>
  <wsdl:message name="DeviceGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceGroupListSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:portType name="RKISoap">
    <wsdl:operation name="ValidateDevice">
      <wsdl:input message="tns:ValidateDeviceSoapIn" />
      <wsdl:output message="tns:ValidateDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PEDI">
      <wsdl:input message="tns:PEDISoapIn" />
      <wsdl:output message="tns:PEDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PEDK">
      <wsdl:input message="tns:PEDKSoapIn" />
      <wsdl:output message="tns:PEDKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PEDV">
      <wsdl:input message="tns:PEDVSoapIn" />
      <wsdl:output message="tns:PEDVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceGroupList">
      <wsdl:input message="tns:DeviceGroupListSoapIn" />
      <wsdl:output message="tns:DeviceGroupListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RKISoap" type="tns:RKISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateDevice">
      <soap:operation soapAction="http://tempuri.org/ValidateDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateDeviceSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PEDI">
      <soap:operation soapAction="http://tempuri.org/PEDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PEDISecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PEDK">
      <soap:operation soapAction="http://tempuri.org/PEDK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PEDKSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PEDV">
      <soap:operation soapAction="http://tempuri.org/PEDV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PEDVSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceGroupList">
      <soap:operation soapAction="http://tempuri.org/DeviceGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeviceGroupListSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RKISoap12" type="tns:RKISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateDevice">
      <soap12:operation soapAction="http://tempuri.org/ValidateDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateDeviceSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PEDI">
      <soap12:operation soapAction="http://tempuri.org/PEDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PEDISecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PEDK">
      <soap12:operation soapAction="http://tempuri.org/PEDK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PEDKSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PEDV">
      <soap12:operation soapAction="http://tempuri.org/PEDV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PEDVSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceGroupList">
      <soap12:operation soapAction="http://tempuri.org/DeviceGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeviceGroupListSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RKI">
    <wsdl:port name="RKISoap" binding="tns:RKISoap">
      <soap:address location="http://demo.idtechweb.com:4002/RKI.asmx" />
    </wsdl:port>
    <wsdl:port name="RKISoap12" binding="tns:RKISoap12">
      <soap12:address location="http://demo.idtechweb.com:4002/RKI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>